.char__info {
  width: 425px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  padding: 25px;
  align-self: flex-start;

  &_top {
    display: flex;
  }

  &_img img {
    margin: 0 25px 16px 0;
    width: 150px;
  }

  &_text {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }

  &_comics {
    margin: 30px 0 0 0;
  }

  &_comics-list {
    margin: 20px 0 0 0;
    & li{
      margin: 11px 0 0 0;
      font-family: 'Roboto Condensed';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      padding: 4px 10px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &_char {
    & h2 {
      font-family: 'Roboto Condensed';
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 26px;
      text-transform: uppercase;
    }
  }

  &_right {
    position: relative;
  }

  &_btns {
    position: absolute;
    top: 55px;
    & a{
      margin: 9px 0 0 0;
    }
  }
}

.comics-title {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}